	.clearfix:before,.clearfix:after {
		content:".";
		display:block;
		height:0;
		visibility:hidden;
		}
	.clearfix:after { clear:both; }/* For IE 6/7 (trigger hasLayout) */
	.clearfix { zoom:1; }
	#div1{
		width:1349px;
		/*width:100%;*/
		height:600px;
		overflow: hidden;
		position:relative;
		margin: 0 auto;
		/*border: 2px solid cadetblue;*/
	}
	#div1 ul{
		width:10000px;
		position: absolute;
	}
	#div1 ul li{
	    	width:1349px;
	    	/*width:25%;*/
	    	height:600px;
	    	overflow: hidden;
	    	float:left;
	    }
	#div1 ul li img{
			width:1349px;
			/*width:25%;*/
			height:600px;
		}
	ul{
			-webkit-margin-before: 0em;
			-webkit-margin-after: 0em;
			-webkit-margin-start: 0em;
			-webkit-margin-end:0em;
			-webkit-padding-start:0px;
		}

.pre{
	position: absolute;
	top:40%;
	font-size:50px;
	z-index: 100;
	cursor: pointer;
	color:white;
	left:50px;
}

.next{
	position: absolute; 
	top:40%;
	right:0px;
	font-size:50px;
	z-index: 100;
	cursor: pointer;
	color:white;
	right:50px;
}
